# Database - Shared with Backend
DATABASE_URL="postgresql://postgres.ljusegzlccheyjmwzeka:[YOUR-DB-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Next Auth
NEXTAUTH_SECRET="amana-mart-super-secret-nextauth-2026"
NEXTAUTH_URL="http://localhost:3000"

# API Backend
NEXT_PUBLIC_API_URL="http://localhost:5000/api"

# Supabase Client
NEXT_PUBLIC_SUPABASE_URL="https://ljusegzlccheyjmwzeka.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_-KyMbp94piTO3HFOiujw_w_ni9aTbcq"
